<mat-toolbar color="primary">Calculo de depreciação de veiculos pela FIPE</mat-toolbar>
<mat-card>
        <mat-card-content>
         <form>
			<div class="form-container">
				<mat-form-field>
				<mat-label>Marcas</mat-label>
				<mat-select #marcasComponent (selectionChange)="getVeiculos($event.value)">
					<mat-option *ngFor="let marca of marcas" [value]="marca.id" >
					{{marca.name}}
					</mat-option>
				</mat-select>
				</mat-form-field>
				<mat-form-field>
				<mat-label>Veiculos</mat-label>
				<mat-select (selectionChange)="getVeiculoDeterioracao(marcasComponent.value, $event.value)">
					<mat-option *ngFor="let veiculo of veiculos" [value]="veiculo.id">
					{{veiculo.name}}
					</mat-option>
				</mat-select>
				</mat-form-field>
				<mat-form-field>
					<div #dataContainer>
							<textarea matInput
							cdkTextareaAutosize
							#autosize="cdkTextareaAutosize"
							cdkAutosizeMinRows="5"
							cdkAutosizeMaxRows="10"
							>{{dataContainer.value}}</textarea>
					</div>
	
			    </mat-form-field>
			</div>
		</form>
        </mat-card-content>
</mat-card>